@model EmployeeEditPageModel


<style>
    table {
        border-collapse: collapse;
        border: 2px solid rgb(200, 200, 200);
        letter-spacing: 1px;
        font-family: sans-serif;
        font-size: 20px;
        width: 800px;
        margin: 30px;
    }

    td,
    th {
        border: 2px solid black;
        padding: 5px 10px;
    }

    td {
        text-align: left;
        padding: 5px,20px,5px,200px;
    }

    th {
        background-color: #a70000;
        color: white;
    }

    tr:nth-child(even) {
        background-color: #e8e8e8;
    }

    tr:nth-child(odd) {
        background-color: white;
    }

    #header {
        text-align: center;
        background-color: #a70000;
        color: white;
        font-stretch: expanded;
        height: 60px;
        font-family: sans-serif;
        font-size: 40px;
    }

    #confirm {
        text-align: center;
    }

</style>
<body>
    <table >
        <tr><th colspan="2" id="header">ADD NEW EMPLOYEE</th></tr>
        @using (Html.BeginForm("SubmitEmployee", "Home", FormMethod.Post))
        {

        <tr>

            <td>
                Name:
            </td>

            <td>
                <input type="text"value="@Model.employee.name" name="_name"/>
            </td>

        </tr>


        <tr>

            <td>
                Salary:
            </td>

            <td>
                <input type="number" value="@Model.employee.salary" name="_Salary" />
            </td>

        </tr>

        <tr>

            <td>
                Title:
            </td>

            <td>
                <input type="text" value="@Model.employee.title" name="_title" />
            </td>
        </tr>
        <tr>
            <td id="confirm" colspan="2">
                @if (Model.isNew)
                {
                    <input type="hidden" value="-1" name="_employeeId" />
                }
                @if (!Model.isNew)
                {
                    <input type="hidden" value="@Model.employee.id" name="_employeeId" />
                }

                <input type="submit" value="confirm" />
            </td>
        </tr>
        }
    </table>
</body>