@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-3">
        <h1>Places</h1>
        <ul>
            <li><a asp-area="" asp-controller="Home" asp-action="TeamsPage">Teams List</a></li>
            <li><a asp-area="" asp-controller="Home" asp-action="EmployeesPage">Employees Page</a></li>
        </ul>
    </div>

</div>
