@model IndexPageModel
@{
    ViewData["Title"] = "Home Page";
}
@using Wallace.Common.Models;


<style>
    .row {
        background-color: blue;
        height: 800px;
        width: 1200px;
        background-size: cover;
        background-position: center;
        margin:10px 10px 10px 10px;
    }
    .col-md-3{
        height: 100px;
        width: 200px;
        background-color: green;
        margin: 10px -382px 10px 10px;
    }
    .DIsplay-image{
        background-size:cover;
        margin:0px 10px 10px 10px;
    }
    .title{
        position: absolute;
        width: 1200px;
        margin-left: 0;
        margin-top: 0;
        background-color: blue;
        margin: 0px 10px 10px 0px;
    }
h1{
    color: white;
    text-transform: uppercase;
    font-family: sans-serif;
    margin-top: 30px;
    text-align: center;
}
.team-link{
    margin: -429px 29px 31px 525px;
    width: 180px;
    height: 30px;
    background-color: yellow;
    font-size: 35px;
    
}
    .employee-link {
        margin: -61px 35px 43px 748px;
        width: 300px;
        height: 30px;
        background-color: yellow;
        font-size: 35px;
    }
    body{
        background-image:url(~/images/wall.jpg);
        background-repeat: no-repeat;
        background-size:cover;
    }
    .Current-project {
        margin: -61px -6px 51px 231px;
        width: 250px;
        height: 30px;
        background-color: yellow;
        font-size: 30px;
    }
</style>

    







    <div class="row">

        <div class="title">

            <h1>Wallace Co.</h1>

        </div>
        <div class="DIsplay-image">
            <img src="@Url.Content("~/images/wall.jpg")" height="800" width="1175" />
        </div>

        <div class="team-link">

            <p id="idk"> <a asp-area="" asp-controller="Home" asp-action="TeamsPage">Teams List</a></p>

        </div>
        <div class="employee-link">

            <p><a asp-area="" asp-controller="Home" asp-action="EmployeesPage">Employees Page</a></p>

        </div>
        <div class="Current-project">

            <p><a asp-area="" asp-controller="Home" asp-action="CurrentProject">Current Projects</a></p>


        </div>
    </div>