@model  IndexPageModel
@{
    ViewData["Title"] = "Home Page";
}
@using Wallace.Common.Models;
<div class="row">
    <div class="col-md-3">
        <h1>Places</h1>
        <ul>
            <li><a asp-area="" asp-controller="Home" asp-action="TeamsPage">Teams List</a></li>
            <li><a asp-area="" asp-controller="Home" asp-action="EmployeesPage">Employees Page</a></li>
        </ul>
    </div>

</div>

@foreach (Project p in Model.Projects)
{
    <h2>
    Project name @Html.Raw(p.name);
    </h2>
    <body>
    Description:
    @Html.Raw(p.desc);

    @using(Html.BeginForm("EditProject","Home", FormMethod.Post))
    {
        <input type="hidden" name="projectId"value="@p.id"/>
        <input type="submit" value="Edit"/>
    }
    </body>
}
