@model NewProjectEditPageModel
@using Wallace.Common.Models

<style>
    table {
        border-collapse: collapse;
        border: 2px solid rgb(200, 200, 200);
        letter-spacing: 1px;
        font-family: sans-serif;
        font-size: 20px;
        width: 800px;
        margin: 30px;
    }

    td,
    th {
        border: 2px solid black;
        padding: 5px 10px;
    }

    td {
        text-align: left;
        padding: 5px,20px,5px,200px;
    }

    th {
        background-color: #a70000;
        color: white;
    }

    tr:nth-child(even) {
        background-color: #e8e8e8;
    }

    tr:nth-child(odd) {
        background-color: white;
    }

    #header {
        text-align: center;
        background-color: blue;
        color: white;
        font-stretch: expanded;
        height: 60px;
        font-family: sans-serif;
        font-size: 40px;
    }
    #confirm{
        text-align: center;
    }

</style>
<body>
    <table >
        <tr><th id="header" colspan="2">ADD NEW PROJECT</th></tr>
        @using (Html.BeginForm("SubmitNewProject", "Home", FormMethod.Post))
        {

            <tr>

                <td>
                    Name:
                </td>

                <td>
                    <input type="text" value="New Project" name="_name" />
                </td>

            </tr>

            <tr>

                <td>
                    Budget:
                </td>

                <td>
                    <input type="number" value="0" name="_budget" />
                </td>

            </tr>

            <tr>

                <td>
                    Description:
                </td>

                <td>
                    <input type="text" value="A New Project" name="_desc" />
                </td>

            </tr>

            <tr>

                <td>
                    Manager:
                </td>

                <td>
                    <select name="_manager">

                        @foreach (Employee e in Model.employees)
                        {

                            {
                                @Html.Raw("<option value=" + e.id + ">" + e.name + "</option>");
                            }

                        }

                    </select>
                </td>
            </tr>

            <tr>
                <td colspan="2" id="confirm">
                    <input type="submit" value="confirm" />
                </td>
            </tr>



        }
    </table>
</body>