@model TeamEditPageModel
<h2>Employees Page</h2>
<h3>@ViewData["Information"]</h3>

<body>
    <table style="width=100%">

        @using (Html.BeginForm("SubmitTeam", "Home", FormMethod.Post))
        {

        <tr>

            <td>
                Name:
            </td>

            <td>
                <input type="text"value="@Model.team.name" name="_name"/>
            </td>

        </tr>


        <tr>

            <td>
                Description:
            </td>

            <td>
                <input type="text" value="@Model.team.desc" name="_desc" />
            </td>

        </tr>

        <tr>

            <td>
                Leader:
            </td>

            <td>
                <input type="number" value="@Model.team.leader" name="_title" />
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="confirm" />
            </td>
        </tr>
        }
    </table>
</body>